<div class="main-content">
    <div class="container-fluid">
        <!--<div class="row">
            <div class="col-md-6">
                <div class="post">
                    <div class="overlay"></div>
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                    </video>
                    <div class="container h-100 p-3">
                        <div class="d-flex h-100">
                            <div class="w-100 h-100 text-white">
                                <div class="align-self-start">
                                    <img class="img rounded-circle" src="author.avatar" />
                                    <span>Jean-Charles Doukouré</span>
                                </div>
                                <div class="position-absolute mb-0 b-0">
                                    <h1 class="display-3 post-title">Video Header</h1>
                                    <p>With HTML5 Video and Bootstrap 4</p>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/><br/><br/>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <cdk-virtual-scroll-viewport [itemSize]="1" style="min-height: 600px;width:100%;">

                        <div *cdkVirtualFor="let item of sandBox.draftItems$ | async">
                            <post-card [largeFormat]="true" [item]="item"
                                [author]="(sandBox.userEntities$ | async)[item.author]"
                                (onClick)="onPostAction($event)">
                            </post-card>
                        </div>

                        <div class="col-md-8 offset-md-2" *ngIf="sandBox.isLoading$ | async">
                            <mat-progress-bar matBar color="warn" mode="indeterminate" value="50">
                            </mat-progress-bar>
                        </div>

                    </cdk-virtual-scroll-viewport>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                <button mat-raised-button type="button"
                    class="btn btn-primary" (click)="createNews()">
                    <i class="material-icons">edit</i>&nbsp;Créer une nouvelle
                </button>
                <br />
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">people</i>
                        </div>
                        <h4 class="card-title">Nouvelles en création (non publiées)

                        </h4>
                    </div>
                    <div class="card-body">
                        <cdk-virtual-scroll-viewport [itemSize]="1" style="min-height: 600px;width:100%;">

                            <div *cdkVirtualFor="let item of sandBox.draftItems$ | async">
                                <post-card [largeFormat]="true" [item]="item"
                                    [author]="(sandBox.userEntities$ | async)[item.author]"
                                    (onClick)="onPostAction($event)">
                                </post-card>
                            </div>

                            <div class="col-md-8 offset-md-2" *ngIf="sandBox.isLoading$ | async">
                                <mat-progress-bar matBar color="warn" mode="indeterminate" value="50">
                                </mat-progress-bar>
                            </div>
                            <!-- <div class="col-md-8 offset-md-2 text-center">
                                <button mat-raised-button type="button" (click)="onListMore('waiting')"
                                    class="btn btn-primary btn-round btn-just-icon pull-right">
                                    <i class="material-icons">add</i>
                                </button>
                            </div> -->
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">{{'News déjà traitées'}}</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a at-button class="nav-link active" href="#validated" data-toggle="tab">
                                            <i class="material-icons">thumb_up</i> {{'En cours'}}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#refused" data-toggle="tab">
                                            <i class="material-icons">thumb_down</i> {{'Archivées'}}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="validated">
                                <cdk-virtual-scroll-viewport [itemSize]="1" style="min-height: 600px;width:100%;">
                                    <div *cdkVirtualFor="let item of sandBox.openedItems$ | async">
                                        <post-card [item]="item" [author]="(sandBox.userEntities$ | async)[item.author]"
                                            (onClick)="onPostAction($event)">
                                        </post-card>
                                    </div>
                                    <div class="col-md-8 offset-md-2" *ngIf="sandBox.isLoading$ | async">
                                        <mat-progress-bar matBar color="warn" mode="indeterminate" value="50">
                                        </mat-progress-bar>
                                    </div>
                                    <!-- <div class="col-md-8 offset-md-2 text-center">
                                        <button mat-raised-button type="button" (click)="onListMore('validated')"
                                            class="btn btn-primary btn-round btn-just-icon pull-right">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div> -->
                                </cdk-virtual-scroll-viewport>
                            </div>
                            <div class="tab-pane" id="refused">
                                <cdk-virtual-scroll-viewport [itemSize]="1" style="min-height: 600px;width:100%;">
                                    <div *cdkVirtualFor="let item of sandBox.closedItems$ | async">
                                        <post-card [item]="item" [author]="(sandBox.userEntities$ | async)[item.author]"
                                            (onClick)="onPostAction($event)">
                                        </post-card>
                                    </div>
                                    <!-- <div class="col-md-8 offset-md-2 text-center">
                                        <button mat-raised-button type="button" (click)="onListMore('refused')"
                                            class="btn btn-primary btn-round btn-just-icon pull-right">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div> -->
                                </cdk-virtual-scroll-viewport>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>