/* .card-post{
  margin-top: 30px;

  .post-header {
      max-height: 400px;
      width: 100%;
      overflow: hidden;
      padding: 0;

      img {
          width: 100%;
          height: auto;
      }
  } 

  .post-avatar {
      padding: 5px;
      /*margin: -25px auto 0 15px;
      overflow: hidden;

      & + .post-body {
          margin-top: 15px;
      }
      a {
        display: block;
      }

      img {
          margin-right: 5px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
      }

      span {
          font-size: 10px;
          color: darkgray;
          margin: -12px 0 0 55px;
      }

      span:not([class*="post-meta"]) {
          font-weight: bold;
          font-size: 14px;
          margin: 0px;
      }
  }

  .post-header {

    h4 {
      color: darkslategray;
      margin: 0 0.8rem;
    }

    p {
      margin: 0 0.8rem;
      text-align: justify;
    }

    span {
      font-size: 10px;
      color: darkslategrey;
      margin: 0 0.8rem;
    }

    .media-wrapper {
      width: 100%;
      background-color: #cccccc;
    }

    a {
      width: 100%;
    }
    img {
      width: 100%;
      min-height: 200px;
      height: auto;
      background-color: #cccccc;
    }
  }
  .post-body {
    padding: 0.8rem;

    p {
      text-align: justify;
      color: darkslategrey;
    }
  }

   .post-body + .post-footer {
      margin-top: -15px;
  }

  .post-footer {
      .btn.btn-just-icon {
          font-size: 20px;
          padding: 12px 12px;
          line-height: 1em;
      }
  }

  &.card-plain {
      .card-avatar {
          margin-top: 0;
      }
  }

  .post-header:not([class*="card-header-"]){
    background: transparent;
  } *

}

 */

.cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
  display: none; 
}

#infinitScroller {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
 
.postcard {
  width: 100%;
  height: 350px;
  border: 1px solid red;
}

.cardVideo {
  /*position: relative;*/
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: relative;
  bottom: 0;
  border: 1px solid yellow;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.b-0 {
  bottom: 0;
}

.post {
  position: relative;
  background-color: #d5d5d5;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.post video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.post .container {
  position: relative;
  padding: 20px;
  z-index: 2;
}

.post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
} 

.post .post-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

@media (pointer: coarse) and (hover: none) {
  .post {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .post video {
    display: none;
  }
}